.detailsMain{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.detailsLeft{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 500px;
    padding: 40px;
    gap: 15px;
}
.detailsRight{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 500px;
    padding: 40px;
    gap: 15px;
}
.boxButton{
    display: flex;
    grid-gap: 15px;
    gap: 15px;
    align-items: center;
    flex-wrap: wrap;
}
.boxBox{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}