body{
    margin: 0;
}
.footer{
    background: linear-gradient(90deg, #013293 -1.27%, #01AFA4 100%);
    width: 100%;
    color: white;
    font-family: 'IBM Plex Mono';
    font-style: normal;
    text-align: center;
    padding: 10px 0;
    margin: 0;
    margin-top: 4rem;
    position: absolute;
    bottom: 0;
}