.top {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 15px;
    margin-top: 1rem;
}

.kickText {
    font-family: 'IBM Plex Mono';
    font-family: 'IBM Plex Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    color: #000000;
    font-weight: 700;
    font-size: 45px;
    line-height: 58px;
}
.statsOuter{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    grid-gap: 15px;
    gap: 15px;
    margin-top: 2rem;
    padding: 0 15px;
}
.projectsOuter{
    display: flex;
    margin-top: 2rem;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 15px;
    text-align: center;
    width: 85%;
    margin: 2rem auto 2rem auto;
}
.headingDark{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 42px;
    color: #1B1A21;
    margin: 0;
}
.projects{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 85%;
    margin: auto;
}
.formOuter{
    margin-top: 2rem;
    display: flex;
    justify-content: space-evenly;
    gap: 15px;
    padding: 0 40px;
    flex-wrap: wrap;
    margin-bottom: 2rem;
}
.leftTop{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 15px;
    margin-top: 2rem;
}
.spinner1{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.spinnerText{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 42px;
    color: #1B1A21;
    margin: 0;
}
.kickMain{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 2rem;
    align-items: center;
}
.kickLeft{
    width: 450px;
    text-align: left;
}
.kickRight{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #013864;
    width: 600px;
}
.footer{
    background: linear-gradient(90deg, #013293 -1.27%, #01AFA4 100%);
    width: 100%;
    color: white;
    font-family: 'IBM Plex Mono';
    font-style: normal;
    text-align: center;
    padding: 10px 0;
    margin: 0;
    margin-top: 4rem;
}
